


<table>
        <thead>
          <tr>
              <th>UserName </th>
              <th>Email </th>
              <th>Phone </th>
			  <th>Gender </th>
			  <th>Age </th>
          </tr>
        </thead>

        <tbody>
          <tr   >
			
            <td >{{singleData.userName}}</td>
            <td  >{{singleData.email}}</td>
			<td >{{singleData.phone}}</td>
			<td >{{singleData.gender}}</td>
			<td  >{{singleData.age}}</td>

			<td class="btn btn-info" (click)="deleteUser(singleData.id)">Delete User<td>
          </tr>
        </tbody>
 </table>
 
 <div class="btn btn-info" (click)="gotodisplay()"> View All Users </div>
 <br>
  <br>
 <div class="btn btn-info" (click)="gotocreate()"> Add Users </div>